extends layout

block content
	div.row.well.about
		h3(style='color:#777') About Me
		br
		p Github: 
			a(href='https://github.com/gokeiyou' target='_blank') https://github.com/gokeiyou
		p Weibo: 
			a(href='http://weibo.com/gokeiyou' target='_blank') http://weibo.com/gokeiyou
		p QQ:
			a(href='http://sighttp.qq.com/authd?IDKEY=b4130c004924563e6d2cee25d8f7e76ad184cc327af97169' target='_blank')
				img(border="0" src='http://wpa.qq.com/imgd?IDKEY=b4130c004924563e6d2cee25d8f7e76ad184cc327af97169&pic=51' alt='点击这里给我发消息' title="点击这里给我发消息")
		p E-mail: wjy307@qq.com

		
